body {
    background-color: #cabbff;
    font-family: Overlock, sans-serif;
    font-size: 40px;
    color: black;
    a {
        color: rgb(17 52 167)
    }
    a:hover {
        color: rgb(65 102 200)
    }
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #8c76da;
    border-bottom: 0.4vw solid #000000;
    z-index: 2;
    box-shadow: 0 -10vw 0 10vw #8c76da, 0 0.1vw 0.5vw 0.5vw rgb(24 20 94 / 0.32);
}

#navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 1vw 1.5vw;
    text-decoration: none;
    font-size: 30px;
    transition: color 0.2s, background-color 0.2s;
}

#navbar a:hover {
    background-color: #c7c0f2;
    color: black;
}

#navbar a.active {
    background-color: #88cdff;
    color: white;
}

.cardboard {
    position: relative;
    overflow: hidden;

    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;

    padding-inline: 6vw;
    padding-top: 3vw;
    padding-bottom: 3vw;

    box-shadow: 0 1vw 0 0 #825c4d, 0 1.25vw 0.5vw 0.5vw rgb(2 3 45 / 0.25);
    border-radius: 2vw;

    img {
        opacity: 80%
    }
}
.cardboard::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: #cea98a;
    background-image: url("cardboard.jpg");
    background-size: 100vw 100vw;
    background-repeat: repeat;

    z-index: 0;
}
.cardboard > * {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: "Protest Riot", cursive;
    font-size: 60px;
    text-align: center;
    color: rgb(6 0 29);
}
h2 {
    font-family: "Protest Riot", cursive;
    font-size: 50px;
    text-align: center;
    color: rgb(6 0 29);
}

p {
    color: rgb(6 0 29);
}