body {
    font-family: Overlock, sans-serif;
    font-size: 2em;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 2;
    font-size: 1em;
}

#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 1vw 1.5vw;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
}

.cardboard {
    position: relative;
    overflow: hidden;

    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;

    padding-inline: 6vw;
    padding-top: 3vw;
    padding-bottom: 3vw;

    border-radius: 2vw;

    img {
        opacity: 80%
    }
}
.cardboard::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("cardboard.jpg");
    background-size: 100vw 100vw;
    background-repeat: repeat;

    z-index: 0;
}
.cardboard > * {
    position: relative;
    z-index: 1;
}
.cardboard .cardboard {
    margin-bottom: 2vw;
}

.centered {
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Protest Riot", cursive;
    font-size: 2.5em;
    text-align: center;
}
h2 {
    font-family: "Protest Riot", cursive;
    font-size: 2em;
    text-align: center;
}