body{
    font-family: 'Jetbrains', Monospace;
    background-color:black;
    color:lime;
    h1 {font-size: 4vmin;}
    font-size: 2vmin;
    hr {
        border: 0.5vmin solid lime;
    }
    a:link {
        color:lightseagreen;
        text-decoration: none;
    }
    a:visited {
        color:teal;
        text-decoration: none;
    }

    a:hover {
        color: mediumseagreen;
        text-decoration: underline;
    }

    a:active {
        color: mediumseagreen;
        text-decoration: underline;
    }
}