body{
    font-family: 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to top, sandybrown, beige);
    background-attachment: fixed;
    color: #05095a;
    h1 {font-size: 4vmin;}
    font-size: 2vmin;
    hr {
        border: 0.5vmin solid #05095a;
    }
    p {
        padding-inline: 20vmin;
    }
    a:link {
        color: #0056af;
        text-decoration: none;
    }
    a:visited {
        color:#0056af;
        text-decoration: none;
    }

    a:hover {
        color: #008ed6;
        text-decoration: underline;
    }

    a:active {
        color: #008ed6;
        text-decoration: underline;
    }
    .top-bar {
        position: sticky;
        top:0;
        padding:2vmin;
        background: beige;
        display: flex;
        justify-content: left;
        text-align: left;
        border-bottom: #05095a solid 1vmin;
    }
    .centered {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}